<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131549023607-qva3t5b4fib3ncclggcmhuf0b6vva7oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131549023607-qva3t5b4fib3ncclggcmhuf0b6vva7oi</string>
	<key>API_KEY</key>
	<string>AIzaSyB6WsHTlyOj7wau_wAsaUUiU84haeK2pjM</string>
	<key>GCM_SENDER_ID</key>
	<string>131549023607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yaroslavSokolov.ChoiceOfTwo</string>
	<key>PROJECT_ID</key>
	<string>choiceoftwo</string>
	<key>STORAGE_BUCKET</key>
	<string>choiceoftwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131549023607:ios:773441cc77241bb01fa572</string>
</dict>
</plist>